.playground {
    height: 100vh;
    background-color: #fff;

    .treeSlider {
        padding-top: 10px;
        border-right: 1px solid #efefef;
        height: 100%;
        background-color: #fff;

    }

    .codeEditor {
        height: 100%;
    }

    :global {
        .ant-tabs-content {
            height: 100%;
        }
    }

}